body {
  margin: 0;
  padding: 0;
  background: #111
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

p {
  margin: 30px 0px;
  width: 250px;
  color: grey;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 12px;
  display: block;
}

img {
  border-radius: 10px;
}

.readyState {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  border-style: groove;
  font-family: sans-serif;
  font-weight: medium;
  height: 50px;
  text-align: center;
  padding-top: 19px;
  border-color: red;
}